[class^="img"] {
  display: inline-block;
}

[class^="img"] img {
  display: block;
}

.img-100 img {
  max-width: 100%;
}

.img-75 img {
  max-width: 75%;
}

.img-50 img {
  max-width: 50%;
}

.img-25 img {
  max-width: 25%;
}
